/* ARCHIVE */

.archive-section {
  max-width: 1300px;
  margin: 0px auto;
  padding-top: 200px;
  padding-bottom: 100px;
  position: relative;
}

.archive-section .heading {
  margin-bottom: 20px;
}

.archive-section .subheading {
  font-size: 20px;
  white-space: nowrap;
  font-weight: 600;
  color: var(--secondary);
}

.archive-section table tbody tr:hover {
  background-color: var(--white);
  cursor: pointer;
}

.archive-section table {
  margin-top: 80px;
  width: 100%;
  border-collapse: collapse;
}

.archive-section table th {
  color: var(--secondary);
  font-weight: 700;
  font-size: 20px;
}

.archive-section table th:last-child {
  text-align: center;
}

.archive-section table th,
.archive-section table td {
  padding: 15px 20px;
  text-align: left;
  vertical-align: middle;
}

.archive-section table .year {
  font-size: 18px;
  color: var(--action-variant);
}
.archive-section table .name {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
}
.archive-section table .madeat {
  font-size: 18px;
  color: var(--secondary);
}
.archive-section table .tech {
  color: var(--secondary);
}
.archive-section table .links {
  text-align: center;
}

.archive-section table .links a:hover img {
  transform: scale(1.3);
}

.archive-section table .links a + a {
  margin-left: 5px;
}

.archive-section table img {
  width: 24px;
  transition: transform 0.5s;
}
