@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/* FONT SIZES 
61.04px
3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px - navbar links
1.25rem/20.00px
1rem/16.00px
*/

:root {
  /* THEME 1 */
  --primary: #555b6e;
  --secondary: #89b0ae;
  --secondary-variant: #bee3db;
  --secondary-variant-variant: #9bd4c8;
  --background: #faf9f9;
  --action: #ffd6ba;
  --action-variant: #ffb685;

  /* THEME 2 */ /*
  --primary: #386641;
  --secondary: #6A994E;
  --secondary-variant: #A7C957;
  --secondary-variant-variant: #9bd4c8;
  --background: #F2E8CF;
  --action: #BC4749;
  --action-variant: #ffb685; */

  /* NEUTRAL */
  --black: #000000;
  --gray: #808080;
  --white: #ffffff;
}

* {
  font-family: Montserrat;
  scroll-behavior: smooth;
}
.container {
  background-color: var(--background);
  margin: 0px auto;
  width: 100%;
  padding-bottom: 100px;
}

.action-button-link {
  padding: 1rem 1.25rem;
  background-color: var(--action);
  border: 1px solid var(--action);
  font-size: 16px;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 2px 2px 3px var(--gray);
}
.action-button-link:hover {
  border-color: var(--black);
  cursor: pointer;
  background-color: var(--secondary-variant);
}

.heading {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: var(--primary);
}

/* NAVBAR */

nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--background);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  transition: top 0.5s;
  z-index: 1;
}
nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding-right: 50px;
  align-items: center;
}
nav ul li a {
  font-size: 20px;
  color: var(--secondary);
}
nav ul li a.active {
  text-decoration: underline;
  color: var(--primary);
}
nav ul li a:hover {
  color: var(--primary);
  text-decoration: underline;
}
nav .action-button-link {
  margin-right: 50px;
}

/* FOOTER */

footer {
  background-color: var(--primary);
  color: var(--background);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 500;
  text-align: center;
}
