@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
  /* NEUTRAL */
  --black: #000000;
  --gray: #808080;
  --lightgray: #b5b5b5;
  --white: #ffffff;

  /* font size - Major Third */
  --xxxlarge: 80px;
  --xxlarge: 61.04px;
  --xlarge: 48.83px;
  --large: 39.06px;
  --medium: 31.25px;
  --small: 25px;
  --xsmall: 20px;
  --xxsmall: 18px;
  --xxxsmall: 16px;
  --xxxxsmall: 14px;
}

:root,
:root.theme1 {
  /* THEME 1 - https://coolors.co/palette/555b6e-89b0ae-bee3db-faf9f9-ffd6ba */
  --primary: #555b6e;
  --secondary: #89b0ae;
  --secondary-variant: #bee3db;
  --secondary-variant-variant: #9bd4c8;
  --background: #faf9f9;
  --action: #ffd6ba;
  --action-variant: #ffb685;
}

:root.theme2 {
  /* THEME 3 - https://coolors.co/palette/386641-6a994e-a7c957-f2e8cf-bc4749 */
  --primary: #386641;
  --secondary: #6a994e;
  --secondary-variant: #a7c957;
  --secondary-variant-variant: #87a937;
  --background: #f2e8cf;
  --action: #bc4749;
  --action-variant: #963638;
}

:root.theme3 {
  /* THEME 2 - https://coolors.co/palette/463f3a-8a817c-bcb8b1-f4f3ee-e0afa0 */
  --primary: #463f3a;
  --secondary: #8a817c;
  --secondary-variant: #bcb8b1;
  --secondary-variant-variant: #a19b91;
  --background: #f4f3ee;
  --action: #e0afa0;
  --action-variant: #d28a74;
}

* {
  font-family: Montserrat;
  scroll-behavior: smooth;
}
.container {
  background-color: var(--background);
  margin: 0px auto;
  padding-bottom: 100px;
}

.action-button-link {
  padding: 1rem 1.25rem;
  background-color: var(--action);
  border: 1px solid var(--action);
  font-size: var(--xxsmall);
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 2px 2px 3px var(--gray);
}
.action-button-link:hover {
  border-color: var(--black);
  cursor: pointer;
  background-color: var(--secondary-variant);
}

.heading {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: var(--xlarge);
  font-weight: 600;
  color: var(--primary);
  line-height: 1.3;
}

/* CUSTOM SELECT */

.palette-select-wrapper,
.language-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.palette-select-wrapper select,
.language-select-wrapper select {
  display: none;
}
.palette-select,
.language-select {
  position: relative;
  display: inline-block;
  padding: 0;
}
.palette-select-trigger,
.language-select-trigger {
  display: block;
  width: fit-content;
  padding: 1rem 3.5rem 1rem 1.25rem;
  color: var(--black);
}
.palette-select-trigger:after,
.language-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid var(--black);
  border-right: 1px solid var(--black);
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.palette-select.opened .palette-select-trigger:after,
.language-select.opened .language-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.palette-options,
.language-options {
  width: 240px;
  position: absolute;
  display: block;
  top: 100%;
  /* left: 0; */
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: var(--white);
  transition: all 0.4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.palette-select.opened .palette-options,
.language-select.opened .language-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.palette-options:before,
.language-options:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid var(--lightgray);
  border-left: 1px solid var(--lightgray);
  background: var(--white);
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.palette-option,
.language-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid var(--lightgray);
  font-size: 18px;
  color: var(--gray);
  line-height: 47px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.palette-option:first-of-type,
.language-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.palette-option:last-of-type,
.language-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.palette-option:hover,
.palette-selection,
.language-option:hover,
.language-selection {
  background: rgba(0, 0, 0, 0.08);
}

/* NAVBAR */

nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--background);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  transition: top 0.5s;
  z-index: 2;
}
nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-right: 75px;
  align-items: center;
}
nav ul li a {
  font-size: var(--xsmall);
  color: var(--secondary);
}
nav ul li a.active {
  text-decoration: underline;
  color: var(--primary);
}
nav ul li a:hover {
  color: var(--primary);
  text-decoration: underline;
}
nav .action-button-link {
  display: block;
  color: var(--primary);
}
nav .action-button-link:hover {
  text-decoration: none;
}

#toggleBtn {
  width: 45px;
  height: 38px;
  position: relative;
  margin-right: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

#toggleBtn span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: var(--secondary);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#toggleBtn span:nth-child(1) {
  top: 0px;
}

#toggleBtn span:nth-child(2),
#toggleBtn span:nth-child(3) {
  top: 15px;
}

#toggleBtn span:nth-child(4) {
  top: 30px;
}

#toggleBtn.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#toggleBtn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#toggleBtn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#toggleBtn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* SIDEBAR */

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  outline: 0px;
  background-color: var(--background);
  z-index: 1;
  transform: translateX(100vw);
  visibility: hidden;
  transition: all 0.2s linear;
}
.show-sidebar {
  transform: translateX(0vw);
  visibility: visible;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}

.sidebar ul a {
  font-size: var(--xsmall);
}

.sidebar ul li:has(> a.action-button-link) {
  margin-top: 30px;
}

/* FOOTER */

footer {
  background-color: var(--primary);
  color: var(--background);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 500;
  text-align: center;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .container {
    padding: 0 25px;
  }

  .action-button-link {
    font-size: var(--xxxsmall);
  }

  .heading {
    font-size: var(--large);
  }

  #toggleBtn {
    display: block;
  }

  nav ul,
  nav .action-button-link {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
}

.blur-effect {
  filter: blur(5px) brightness(0.7);
}
.disable-scroll {
  overflow: hidden;
}
.inherit-background {
  background-color: inherit !important;
}
