/* * */
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: Montserrat;
  scroll-behavior: smooth;
}
.container {
  background-color: #faf9f9;
  margin: 0px auto;
  width: 100%;
  padding-bottom: 100px;
}

.action-button-link {
  padding: 1rem 1.25rem;
  background-color: #ffd6ba;
  border: 1px solid #ffd6ba;
  font-size: 16px;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
}
.action-button-link:hover {
  border-color: black;
  cursor: pointer;
  background-color: #bee3db;
}

.heading {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

/* NAVBAR */

nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #faf9f9;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  transition: top 0.5s;
  z-index: 1;
}
nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding-right: 50px;
  align-items: center;
}
nav ul li a {
  font-size: 20px;
  color: #89b0ae;
}
nav ul li a.active {
  text-decoration: underline;
  color: #555b6e;
}
nav ul li a:hover {
  color: #555b6e;
  text-decoration: underline;
}
nav .action-button-link {
  margin-right: 50px;
}

/* FOOTER */

footer {
  background-color: #555b6e;
  color: #faf9f9;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 500;
  text-align: center;
}

/* COLORS
#555B6E - tamni tekst
#89B0AE - tekst
#BEE3DB - buttons hover & kartice na ostali projekti
#9bd4c8 - buttons hover za tamniji button
#FAF9F9 - pozadina
#FFD6BA - buttons
#ffb685 - tamniji buttons
*/

/* FONT SIZES 
61.04px
3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px - navbar links
1.25rem/20.00px
1rem/16.00px
*/
