/* INDEX.HTML */

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
  margin: 0px auto;
  max-width: 1000px;
}

.hero-section .paragraph1 {
  margin-bottom: 20px;
  color: var(--secondary);
  font-size: 25px;
  font-weight: 500;
}

.hero-section .heading1,
.hero-section .heading2 {
  font-size: 80px;
  font-weight: 600;
  margin: 0;
}

.hero-section .heading1 {
  color: var(--primary);
  line-height: 1.2;
}

.hero-section .heading2 {
  color: var(--secondary);
}

.hero-section .paragraph2 {
  margin: 20px 0px 0px;
  max-width: 650px;
  line-height: 1.5;
  color: var(--secondary);
  font-size: 20px;
}

.hero-section .links {
  margin-top: 50px;
  display: flex;
  column-gap: 20px;
}

.hero-section .action-button-link {
  padding: 1.25rem 1.75rem;
}

.hero-section .main {
  background-color: var(--action-variant);
  border-color: var(--action-variant);
}
.hero-section .main:hover {
  background-color: var(--secondary-variant-variant);
  border-color: var(--black);
}

/* ABOUT ME SECTION */

#aboutme-section {
  position: absolute;
  bottom: 130px;
}

.aboutme-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
  position: relative;
}

.aboutme-section .box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.aboutme-section .left-side p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: var(--secondary);
}

.aboutme-section .left-side a {
  color: var(--primary);
  font-weight: 500;
}
.aboutme-section .left-side a:hover {
  text-decoration: underline;
}

.aboutme-section .right-side {
  max-width: 300px;
}

.aboutme-section .right-side .image-box img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--gray);
}

/* JOBS SECTION */

#jobs-section {
  position: absolute;
  bottom: 80px;
}

.jobs-section {
  max-width: 700px;
  margin: 0px auto;
  padding: 100px 0px;
}

.jobs-section .job p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: var(--secondary);
}

.jobs-section .job .position {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  color: var(--secondary);
}

.jobs-section .job .year {
  margin-bottom: 25px;
  font-size: 20px;
  color: var(--primary);
}

.jobs-section .job .company {
  color: var(--action-variant);
}

.jobs-section .job ul {
  padding-left: 40px;
  position: relative;
}

.jobs-section .job ul li:before {
  position: absolute;
  left: 0;
  content: "▹";
  width: 2rem;
  color: var(--primary);
  font-size: 25px;
}

/* PROJECTS SECTION */

.projects-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

.projects-section .box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.projects-section .box .project {
  display: flex;
}

.projects-section .box .project .left-side,
.projects-section .box .project .right-side {
  width: 50%;
}

.projects-section .box .project .left-side .image-box {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--gray);
  height: 100%;
}

.projects-section .box .project .left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.projects-section .box .project .left-side img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.projects-section .box .project .right-side {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-section .box .project .right-side .name {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  color: var(--primary);
}

.projects-section .box .project .right-side .year {
  margin-bottom: 15px;
  font-size: 20px;
  color: var(--primary);
}

.projects-section .box .project .right-side .description {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
  color: var(--secondary);
}

.projects-section .box .project .right-side ul {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-bottom: 25px;
  color: var(--primary);
}

.projects-section .box .project .right-side .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects-section .box .project .right-side .links .action-button-link {
  padding: 1rem 2rem;
}

.projects-section .box .project .right-side .links .right {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.projects-section .box .project .right-side .links .link img {
  width: 32px;
  transition: transform 0.5s;
}
.projects-section .box .project .right-side .links .link img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* MORE PROJECTS SECTION */

.more-projects-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

.more-projects-section .heading {
  justify-content: center;
  margin: 10px 0px 20px;
  font-size: 32px;
}

.more-projects-section .heading-box {
  display: flex;
  justify-content: center;
}

.more-projects-section .subheading {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 600;
  color: var(--secondary);
}
.more-projects-section .subheading:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-projects-section .box {
  list-style: none;
  padding: 0px;
  padding-top: 50px;
  padding-right: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  position: relative;
  height: 398px; /*visina .project + 3px za shadow*/
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.more-projects-section .box .project {
  background-color: var(--secondary-variant);
  height: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 3px var(--gray);
  transition: 0.5s;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.more-projects-section .box .project:hover {
  background-color: var(--secondary-variant-variant);
  transform: translateY(-10px);
}
.more-projects-section .box .project:hover .folder {
  background: no-repeat url(../assets/images/folder-hover.png) 0px 0px / 50px
    50px !important;
}

.more-projects-section .box .project .inner {
  padding: 2rem 1.75rem;
}

.more-projects-section .box .project .tech {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding: 0 1.75rem;
  padding-bottom: 2rem;
}

.more-projects-section .box .project .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.more-projects-section .box .project .header .name {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
  max-width: 210px;
}

.more-projects-section .box .project .header .folder {
  width: 50px;
  height: 50px;
  background: no-repeat url(../assets/images/folder.png) 0px 0px / 50px 50px;
  transition: background-image 0.2s linear;
}

.more-projects-section .box .project .header .links img {
  width: 32px;
}

.more-projects-section .box .project .body .text {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
}

.more-projects-section .show-more {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.more-projects-section .action-button-link {
  padding: 1rem 2rem;
}

/* CONTACT SECTION */

.contact-section {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  margin-top: 100px;
}

.contact-section .heading {
  justify-content: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.contact-section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section .big-heading {
  margin-bottom: 30px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: var(--primary);
}

.contact-section .text {
  font-size: 20px;
  line-height: 1.3;
  color: var(--secondary);
}

.contact-section .email {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
}

.contact-section .action-button-link {
  margin-top: 50px;
  padding: 1rem 2rem;
}
