/* SINGLE PROJECT */

.single-project-section {
  max-width: 900px;
  margin: 0px auto;
  padding: 150px 0px;
  position: relative;
}

.single-project-section .project-description .link {
  color: var(--action-variant);
}
.single-project-section .project-description .link:hover {
  text-decoration: underline;
}

.single-project-section p,
.single-project-section .ordered-list,
.single-project-section .unordered-list {
  margin-bottom: 15px;
}

.single-project-section .ordered-list {
  padding-left: 40px;
  position: relative;
}
.single-project-section .ordered-list .unordered-list {
  padding-left: 40px;
  position: relative;
}
.single-project-section .ordered-list li:before {
  position: absolute;
  left: 0;
  content: "▹";
  width: 2rem;
  color: var(--primary);
  font-size: var(--small);
}

.single-project-section .unordered-list {
  padding-left: 40px;
  position: relative;
}
.single-project-section .unordered-list li:before {
  position: absolute;
  left: 0;
  content: "▹";
  width: 2rem;
  color: var(--primary);
  font-size: var(--small);
}

.single-project-section .links {
  display: flex;
  column-gap: 20px;
}

.single-project-section .action-button-link {
  display: inline-block;
  margin: 40px 0px;
}

.single-project-section .project-description {
  font-size: var(--xsmall);
  line-height: 1.4;
  margin-top: 3rem;
  color: var(--secondary);
}

.single-project-section .project-description b {
  font-weight: 600;
}

.image-gallery-subheading {
  font-size: var(--large);
  margin-top: 3rem;
  font-weight: 500;
  color: var(--primary);
}

@media (max-width: 992px) {
  .single-project-section .ordered-list li:before {
    font-size: var(--xsmall);
  }

  .single-project-section .unordered-list li:before {
    font-size: var(--xsmall);
  }

  .single-project-section .project-description {
    font-size: var(--xxsmall);
  }

  .image-gallery-subheading {
    font-size: var(--medium);
  }
}

/* SLIDER */

.slider-container {
  position: relative;
  width: 120%;
  margin-left: -10%;
  margin-top: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--background) !important;
}

.horizontal .swiper-slide {
  display: flex;
}
.horizontal .swiper-slide img {
  width: 300px !important;
  height: 600px !important;
  object-fit: contain !important;
}

.slider-precise .swiper-slide img {
  object-fit: contain !important;
}
.precise-size-700 .swiper-slide img {
  height: 700px !important;
}
.precise-size-560 .swiper-slide img {
  height: 560px !important;
}
.precise-size-500 .swiper-slide img {
  height: 500px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--action-variant) !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--secondary) !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary) !important;
}

.swiper-pagination-bullet {
  background: var(--gray) !important;
  width: 14px !important;
  height: 14px !important;
  margin: 0 6px !important;
}

.swiper-button-prev {
  margin-left: -70px;
}

.swiper-button-next {
  margin-right: -70px;
}

.swiper-pagination {
  margin-bottom: -50px;
}
