/* * */
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: Montserrat;
  scroll-behavior: smooth;
}
.container {
  background-color: #faf9f9;
  margin: 0px auto;
  width: 100%;
  padding-bottom: 100px;
}

.action-button-link {
  padding: 1rem 1.25rem;
  background-color: #ffd6ba;
  border: 1px solid #ffd6ba;
  font-size: 16px;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
}
.action-button-link:hover {
  border-color: black;
  cursor: pointer;
  background-color: #bee3db;
}

.heading {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

/* NAVBAR */

nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #faf9f9;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  transition: top 0.5s;
  z-index: 1;
}
nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding-right: 50px;
  align-items: center;
}
nav ul li a {
  font-size: 20px;
  color: #89b0ae;
}
nav ul li a.active {
  text-decoration: underline;
  color: #555b6e;
}
nav ul li a:hover {
  color: #555b6e;
  text-decoration: underline;
}
nav .action-button-link {
  margin-right: 50px;
}

/* FOOTER */

footer {
  background-color: #89b0ae;
  color: #faf9f9;
  padding-top: 2rem;
  font-weight: 500;
  text-align: center;
}
footer .copywright-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555b6e;
  height: 60px;
  margin-top: 2rem;
}

/* MODAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  height: 85vh;
  opacity: 1 !important;
}
/* Caption of Modal Image */
.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin-top: 32px;
}
/* Add Animation */
.modal-content,
.modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-atransform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* INDEX.HTML */

.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
  margin: 0px auto;
  max-width: 1000px;
}

.hero-section .paragraph1 {
  margin-bottom: 20px;
  color: #89b0ae;
  font-size: 25px;
  font-weight: 500;
}

.hero-section .heading1,
.hero-section .heading2 {
  font-size: 80px;
  font-weight: 600;
  margin: 0;
}

.hero-section .heading1 {
  color: #555b6e;
  line-height: 1.2;
}

.hero-section .heading2 {
  color: #89b0ae;
}

.hero-section .paragraph2 {
  margin: 20px 0px 0px;
  max-width: 650px;
  line-height: 1.5;
  color: #89b0ae;
  font-size: 20px;
}

.hero-section .links {
  margin-top: 50px;
  display: flex;
  column-gap: 20px;
}

.hero-section .action-button-link {
  padding: 1.25rem 1.75rem;
}

.hero-section .main {
  background-color: #ffb685;
  border-color: #ffb685;
}
.hero-section .main:hover {
  background-color: #9bd4c8;
  border-color: black;
}

/* ABOUT ME */

#aboutme-section {
  position: absolute;
  bottom: 130px;
}

.aboutme-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
  position: relative;
}

.aboutme-section .box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.aboutme-section .left-side p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #89b0ae;
}

.aboutme-section .left-side a {
  color: #555b6e;
  font-weight: 500;
}
.aboutme-section .left-side a:hover {
  text-decoration: underline;
}

.aboutme-section .right-side {
  max-width: 300px;
}

.aboutme-section .right-side .image-box img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}

/* JOBS */

#jobs-section {
  position: absolute;
  bottom: 80px;
}

.jobs-section {
  max-width: 700px;
  margin: 0px auto;
  padding: 100px 0px;
}

.jobs-section .job p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #89b0ae;
}

.jobs-section .job .position {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  color: #89b0ae;
}

.jobs-section .job .year {
  margin-bottom: 25px;
  font-size: 20px;
  color: #555b6e;
}

.jobs-section .job .company {
  color: #ffb685;
}

.jobs-section .job ul {
  padding-left: 40px;
  position: relative;
}

.jobs-section .job ul li:before {
  position: absolute;
  left: 0;
  content: "▹";
  width: 2rem;
  color: #555b6e;
  font-size: 25px;
}

/* PROJECTS */

.projects-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

.projects-section .box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.projects-section .box .project {
  display: flex;
}

.projects-section .box .project .left-side,
.projects-section .box .project .right-side {
  width: 50%;
}

.projects-section .box .project .left-side .image-box {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  height: 100%;
}

.projects-section .box .project .left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.projects-section .box .project .left-side img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.projects-section .box .project .right-side {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-section .box .project .right-side .name {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  color: #555b6e;
}

.projects-section .box .project .right-side .year {
  margin-bottom: 15px;
  font-size: 20px;
  color: #555b6e;
}

.projects-section .box .project .right-side .description {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #89b0ae;
}

.projects-section .box .project .right-side ul {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-bottom: 25px;
  color: #555b6e;
}

.projects-section .box .project .right-side .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects-section .box .project .right-side .links .action-button-link {
  padding: 1rem 2rem;
}

.projects-section .box .project .right-side .links .right {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.projects-section .box .project .right-side .links .link img {
  width: 32px;
  transition: transform 0.5s;
}
.projects-section .box .project .right-side .links .link img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* MORE PROJECTS */

.more-projects-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

.more-projects-section .heading {
  justify-content: center;
  margin: 10px 0px 20px;
  font-size: 32px;
}

.more-projects-section .heading-box {
  display: flex;
  justify-content: center;
}

.more-projects-section .subheading {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 600;
  color: #89b0ae;
}
.more-projects-section .subheading:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-projects-section .box {
  list-style: none;
  padding: 0px;
  padding-top: 50px;
  padding-right: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  position: relative;
  height: 398px; /*visina .project + 3px za shadow*/
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.more-projects-section .box .project {
  background-color: #bee3db;
  height: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
  transition: 0.5s;
  color: #555b6e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.more-projects-section .box .project:hover {
  background-color: #9bd4c8;
  transform: translateY(-10px);
}
.more-projects-section .box .project:hover .folder {
  background: no-repeat url(./assets/images/folder-hover.png) 0px 0px / 50px
    50px !important;
}

.more-projects-section .box .project .inner {
  padding: 2rem 1.75rem;
}

.more-projects-section .box .project .tech {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding: 0 1.75rem;
  padding-bottom: 2rem;
}

.more-projects-section .box .project .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.more-projects-section .box .project .header .name {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
  max-width: 210px;
}

.more-projects-section .box .project .header .folder {
  width: 50px;
  height: 50px;
  background: no-repeat url(./assets/images/folder.png) 0px 0px / 50px 50px;
  transition: background-image 0.2s linear;
}

.more-projects-section .box .project .header .links img {
  width: 32px;
}

.more-projects-section .box .project .body .text {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
}

.more-projects-section .show-more {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.more-projects-section .action-button-link {
  padding: 1rem 2rem;
}

/* CONTACT */

.contact-section {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  margin-top: 100px;
}

.contact-section .heading {
  justify-content: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.contact-section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section .big-heading {
  margin-bottom: 30px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

.contact-section .text {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 50px;
  color: #89b0ae;
}

.contact-section .action-button-link {
  padding: 1rem 2rem;
}

/* ARCHIVE */

.archive-section {
  max-width: 1300px;
  margin: 0px auto;
  padding-top: 200px;
  padding-bottom: 100px;
  position: relative;
}

.archive-section .heading {
  margin-bottom: 20px;
}

.archive-section .subheading {
  font-size: 20px;
  white-space: nowrap;
  font-weight: 600;
  color: #89b0ae;
}

.archive-section table tbody tr:hover {
  background-color: #fff;
  cursor: pointer;
}

.archive-section table {
  margin-top: 80px;
  width: 100%;
  border-collapse: collapse;
}

.archive-section table th {
  color: #89b0ae;
  font-weight: 700;
  font-size: 20px;
}

.archive-section table th:last-child {
  text-align: center;
}

.archive-section table th,
.archive-section table td {
  padding: 15px 20px;
  text-align: left;
  vertical-align: middle;
}

.archive-section table .year {
  font-size: 18px;
  color: #ffb685;
}
.archive-section table .name {
  font-size: 20px;
  font-weight: 600;
  color: #555b6e;
}
.archive-section table .madeat {
  font-size: 18px;
  color: #89b0ae;
}
.archive-section table .tech {
  color: #89b0ae;
}
.archive-section table .links {
  text-align: center;
}

.archive-section table .links a:hover img {
  transform: scale(1.3);
}

.archive-section table .links a + a {
  margin-left: 5px;
}

.archive-section table img {
  width: 24px;
  transition: transform 0.5s;
}

/* SINGLE PROJECT */

.single-project-section {
  max-width: 900px;
  margin: 0px auto;
  padding: 150px 0px;
  position: relative;
}

.single-project-section .project-description .link {
  color: #ffb685;
}
.single-project-section .project-description .link:hover {
  text-decoration: underline;
}

.single-project-section p,
.single-project-section .ordered-list,
.single-project-section .unordered-list {
  margin-bottom: 15px;
}

.single-project-section .ordered-list {
  padding-left: 40px;
  position: relative;
}
.single-project-section .ordered-list li:before {
  position: absolute;
  left: 0;
  content: "▹";
  width: 2rem;
  color: #555b6e;
  font-size: 25px;
}

.single-project-section .unordered-list {
  padding-left: 40px;
  position: relative;
}
.single-project-section .unordered-list li:before {
  position: absolute;
  left: 0;
  content: "▹";
  width: 2rem;
  color: #555b6e;
  font-size: 25px;
}

.single-project-section .links {
  display: flex;
  column-gap: 20px;
}

.single-project-section .action-button-link {
  display: inline-block;
  margin: 40px 0px;
}

.single-project-section .image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.single-project-section .image-gallery .card {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 3px 3px 5px gray;
}

.single-project-section .image-gallery .card:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.single-project-section .image-gallery .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.single-project-section .project-description {
  font-size: 20px;
  line-height: 1.4;
  margin-top: 3rem;
  color: #89b0ae;
}

.single-project-section .project-description b {
  font-weight: 600;
}

.image-gallery-subheading {
  font-size: 39.06px;
  margin-top: 3rem;
  font-weight: 500;
}

/* COLORS
#555B6E - tamni tekst
#89B0AE - tekst
#BEE3DB - buttons hover & kartice na ostali projekti
#9bd4c8 - buttons hover za tamniji button
#FAF9F9 - pozadina
#FFD6BA - buttons
#ffb685 - tamniji buttons
*/

/* FONT SIZES 
61.04px
3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px - navbar links
1.25rem/20.00px
1rem/16.00px
*/
