/* * */
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: Montserrat;
  scroll-behavior: smooth;
}
.container {
  background-color: #faf9f9;
  margin: 0px auto;
  width: 100%;
  padding-bottom: 100px;
}

/* NAVBAR */

nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #faf9f9;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  transition: top 0.5s;
}
nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding-right: 50px;
  align-items: center;
}
nav ul li a {
  font-size: 20px;
  color: #89b0ae;
}
nav ul li a.active {
  text-decoration: underline;
  color: #555b6e;
}
nav ul li a:hover {
  color: #555b6e;
  text-decoration: underline;
}
nav button {
  margin-right: 50px;
  padding: 1rem 1.25rem;
  background-color: #ffd6ba;
  border: 1px solid #ffd6ba;
  font-size: 16px;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}
nav button:hover {
  border-color: black;
  cursor: pointer;
  background-color: #bee3db;
}

/* FOOTER */

footer {
  background-color: #666;
  color: #fff;
  padding-top: 2rem;
}
footer p {
  text-align: center;
}
footer .copywright-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 60px;
  margin-top: 2rem;
}

/* MODAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  height: 85vh;
  opacity: 1 !important;
}
/* Caption of Modal Image */
.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin-top: 32px;
}
/* Add Animation */
.modal-content,
.modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-atransform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* INDEX.HTML */

.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
  margin: 0px auto;
  max-width: 1000px;
}

.hero-section .paragraph1 {
  margin-bottom: 20px;
  color: #89b0ae;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.1;
}

.hero-section .heading1,
.hero-section .heading2 {
  font-size: 80px;
  font-weight: 600;
  margin: 0;
}

.hero-section .heading1 {
  color: #555b6e;
  line-height: 1.2;
}

.hero-section .heading2 {
  color: #89b0ae;
}

.hero-section .paragraph2 {
  margin: 20px 0px 0px;
  max-width: 650px;
  line-height: 1.5;
  color: #89b0ae;
  font-size: 20px;
}

.hero-section .button {
  background-color: #ffd6ba;
  padding: 1.25rem 1.75rem;
  font-size: 16px;
  margin-top: 50px;
  border: 1px solid #ffd6ba;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}
.hero-section .button:hover {
  border-color: black;
  cursor: pointer;
  background-color: #bee3db;
}

/* ABOUT ME */

.aboutme-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

.aboutme-section .heading {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

.aboutme-section .box {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 50px;
}

.aboutme-section .left-side p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #89b0ae;
}

.aboutme-section .right-side {
  max-width: 300px;
}

.aboutme-section .right-side .image-box img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}

/* JOBS */

.jobs-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

.jobs-section .heading {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

/* PROJECTS */

.projects-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

.projects-section .heading {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

.projects-section .box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.projects-section .box .project {
  display: flex;
}

.projects-section .box .project .left-side,
.projects-section .box .project .right-side {
  width: 50%;
}

.projects-section .box .project .left-side .image-box {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  height: 100%;
}

.projects-section .box .project .left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.projects-section .box .project .left-side img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.projects-section .box .project .right-side {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-section .box .project .right-side .name {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  color: #555b6e;
}

.projects-section .box .project .right-side .year {
  margin-bottom: 15px;
  font-size: 20px;
  color: #555b6e;
}

.projects-section .box .project .right-side .description {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #89b0ae;
}

.projects-section .box .project .right-side ul {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-bottom: 25px;
}

.projects-section .box .project .right-side .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects-section .box .project .right-side .links .read-more {
  background-color: #ffd6ba;
  padding: 1rem 2rem;
  font-size: 16px;
  border: 1px solid #ffd6ba;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}
.projects-section .box .project .right-side .links .read-more:hover {
  border-color: black;
  cursor: pointer;
  background-color: #bee3db;
}

.projects-section .box .project .right-side .links .right {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.projects-section .box .project .right-side .links .link img {
  width: 32px;
  transition: transform 0.5s;
}
.projects-section .box .project .right-side .links .link img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* MORE PROJECTS */

.more-projects-section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

.more-projects-section .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 20px;
  width: 100%;
  font-size: 32px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

.more-projects-section .heading-box {
  display: flex;
  justify-content: center;
}

.more-projects-section .subheading {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 600;
  color: #89b0ae;
}
.more-projects-section .subheading:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-projects-section .box {
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  position: relative;
}

.more-projects-section .box .project {
  background-color: #bee3db;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}

.more-projects-section .box .project .inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 2rem 1.75rem;
}

.more-projects-section .links {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.more-projects-section .show-more {
  background-color: #ffd6ba;
  padding: 1rem 2rem;
  font-size: 20px;
  border: 1px solid #ffd6ba;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}
.more-projects-section .show-more:hover {
  border-color: black;
  cursor: pointer;
  transition: 0.5s;
  background-color: #bee3db;
}

/* CONTACT */

.contact-section {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  margin-top: 100px;
}

.contact-section .heading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  font-size: 32px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

.contact-section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section .big-heading {
  margin-bottom: 30px;
  width: 100%;
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
  color: #555b6e;
}

.contact-section .text {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 50px;
  color: #89b0ae;
}

.contact-section .sayhello {
  background-color: #ffd6ba;
  padding: 1rem 2rem;
  font-size: 20px;
  border: 1px solid #ffd6ba;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}
.contact-section .sayhello:hover {
  border-color: black;
  cursor: pointer;
  transition: 0.5s;
  background-color: #bee3db;
}

/**************************************************************************************************************************************/

/* PROJECTS.HTML */

.projects-section2 .section-heading {
  font-size: 39.06px;
  margin-bottom: 3rem;
  text-align: center;
  padding-top: 8rem;
}
.projects-section2 .card-section {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 5rem;
}
.projects-section2 .card-section .card {
  width: 500px;
}
.projects-section2 .card-section .card .project-name {
  font-size: 31.25px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.projects-section2 .card-section .card .project-year {
  font-size: 20px;
}
.projects-section2 .card-image-div {
  border-radius: 15px;
  width: 500px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 5px gray;
}
.projects-section2 .card-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.projects-section2 .card-image-div:hover img {
  transform: scale(1.8);
}

/* SINGLE-PROJECT.HTML */

.single-project-container {
  padding-left: 0;
  padding-right: 0;
}
.single-project-section .section-heading {
  font-size: 48.83px;
  margin-bottom: 3rem;
  text-align: center;
}
.single-project-section .image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.single-project-section .image-gallery .card {
  width: 500px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 3px 3px 5px gray;
}
.single-project-section .image-gallery .card:hover img {
  transform: scale(1.2);
  cursor: pointer;
}
.single-project-section .image-gallery .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.single-project-section .project-description {
  font-size: 25px;
  /* text-align: center; */
  line-height: 1.4;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 3rem;
}
.single-project-section .project-description b {
  font-weight: 600;
}
.single-project-section .open-btn {
  padding: 1rem 1.5rem;
  font-size: 25px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 5px grey;
  background-color: palegreen;
}
.single-project-section .open-btn:hover {
  cursor: pointer;
  background-color: #fff;
}
.three-view-list-ol {
  list-style-type: decimal;
  margin-left: 2rem;
}
.three-view-list-ul {
  list-style-type: disc;
  margin-left: 2rem;
}
.image-gallery-subheading {
  font-size: 39.06px;
  text-align: center;
  margin-top: 3rem;
  font-weight: 500;
}

/* COLORS
#F0EAD2 - pozadina gradient
#DDE5B6 - pozadina gradient & navbar 
palegreen - sections background 
#A98467 - footer
#6C584C - footer copywright
*/

/* FONT SIZES 
61.04px
3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px - navbar links
1.25rem/20.00px
1rem/16.00px
*/
